{% extends "e-commerce/base.html" %}

{% block title %}Datos de usuaio{% endblock %}

{% block content %}
{% load static %}

<div id="graph-container">

    <div id="plotly-graph">{{graph|safe}}</div>

    <div id="plotly-img">
        <a href="https://plotly.com/">
            <img src="{% static 'e-commerce/img/plotly-logo.png' %}" alt="Plotly logo" width="30%">
        </a>
        <p>
            Ejemplo de reporte con <a href="https://plotly.com/">Plotly</a>.
            <br>
            Este gráfico puede ser de distintos tipos, por ejemplo:
            <ul>
                <li>
                    <a href="https://plotly.com/python/line-charts/">line-charts</a>
                </li>
                <li>
                    <a href="https://plotly.com/python/line-and-scatter/">line-and-scatter</a>
                </li>
                <li>
                    <a href="https://plotly.com/python/pie-charts/">pie-charts</a>
                </li>
                <li>
                    <a href="https://plotly.com/python/bubble-charts/">bubble-charts</a>
                </li>
            </ul>
        </p>
    </div>
</div>
{% endblock %}